@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/tópicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root{
    --cor-de-fundo: #e7b7f3;
    --branco:#FFFFFF;
    --vinho:#920262;
    --degrade: linear-gradient(97.54deg, #85099e 35.49%, #d96fee 165.37%);
    --fonte-pricipal: "Poppins";
    --roxo: #440441; 
    --azul-claro: #00eeff;
    --font-secundaria: "Josefin Sans";
    --preto: #000000; 
    --cinza: #474646;
    --cinza-claro: #858585;

}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-pricipal);
    font-size: 16px;
    font-weight: 400;
}
